<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">

  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#">URBANGABRU</a>
    <button class="btn btn-primary" id="sidebarToggle" style="position: fixed; top: 10px; right: 10px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{userInfo.employee_name}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
