<div class="border-end bg-dark" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-dark text-light">URBANGABRU</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="/">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="/distributors">Distributors</a>
        <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="/dbAppointmentForm">New Appointment</a>
        <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="/approvallist">Approvals</a>
        {{!-- <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Status</a> --}}
    </div>
</div>